<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="
 http:www.springfremwork.org.schema/context"
 xmlns:p="http://www.springfremwork.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 https://www.springframework.org/schema/context
 http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Method 1 -->
    <!-- 
    <bean class="com.springcore.Student" name="mystudent">
		<property name="studentId" value="301" />
		<property name="StudentName">
			<value>Kameshwar Sah</value>
		</property>

		<property name="StudentAddress">
			<value>Bihar</value>
		</property>
		
		<property name="StudentEmail">
			<value>kameshwarsah@gmail.com</value>
		</property>

	</bean>
	-->
	
	
	<!-- Method 2-->
	   <!-- 
    <bean class="com.springcore.Student" name="mystudent">
		<property name="studentId" value="301" />
		<property name="StudentName" value="Pankaj Kumar  Sah" />
		<property name="StudentAddress" value="Bihar" />
		<property name="StudentEmail" value="pankajkumarsah@gmail.com" />
	</bean>
	
	<bean class="com.springcore.Student" name="mystudent2">
		<property name="studentId" value="401" />
		<property name="StudentName" value="Deep Kumar  Sah" />
		<property name="StudentAddress" value="Uttar Perdesh" />
		<property name="StudentEmail" value="deepkumarsah@gmail.com" />
	</bean>
	
	-->
	<!-- Method 3-->
	<bean class="com.springcore.Student" name="mystudent"  p:studentId="20001"  p:StudentName="Nishant"  p:StudentAddress="Delhi"  p:StudentEmail="pk@gmail.com" />
	<bean class="com.springcore.Student" name="mystudent2"  p:studentId="20001"  p:StudentName="Vishal"  p:StudentAddress="Delhi"  p:StudentEmail="pk@gmail.com" />


</beans>
